@import '../../color.scss';

.btn-connect-wallet {
  position: relative;
}

.network-state-dot {
  width: 0.35rem;
  height: 0.35rem;
  margin: auto;
  margin-right: 0.5rem;
  background-color: $white;
  border-radius: 50%;
}

.network-state-mainnet {
  background-color: $green;
}

.network-state-testnet {
  background-color: $red;
}

.expand-icon-container {
  margin-left: 0.3rem;
  max-width: 1rem;
  max-height: 1rem;
  overflow-x: hidden;
  overflow-y: hidden;
  justify-content: center;
}

.expand-icon {
  position: relative;
  left: -0.25rem;
  top: -0.25rem;
  color: $pink;
}

.expand-icon-more {
  animation: expand-icon-to-more 0.5s ease forwards;
}

.expand-icon-less {
  animation: expand-icon-to-less 0.5s ease forwards;
}

@keyframes expand-icon-to-more {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

@keyframes expand-icon-to-less {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.dd-container {
  cursor: default;
  display: flex;
  flex-direction: column;
  font-family: 'arcade-classic';
  color: $white;
  background-color: $black;
  width: 180.5px;
  height: 8rem;
  border-style: solid;
  border-color: $white;
  border-width: 1px;
  border-radius: 0.25rem;
  position: absolute;
  top: 3.6rem;
  left: 0rem;
  padding: 1rem 0rem 1rem 0rem;
  font-size: 1.1rem;

  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.dd-menu {
  display: flex;
  justify-content: center;
  height: 2rem;
  cursor: pointer;
  padding: 0.25rem 0.2rem 0.25rem 0.2rem;
}

.dd-menu:hover {
  background-color: $gray-tp;
}

.dd-txt-green {
  color: $green;
}

.dd-txt-red {
  color: $red;
}

.dd-txt-common {
  line-height: 1.5rem;
}

.dd-txt-common:hover {
  color: $white;
}

.dd-txt-red:hover {
  color: $cyan;
}

.dd-txt-pink {
  color: $pink;
}

.dd-txt-pink:hover {
  color: $cyan;
}

.dd-link-wrapper {
  line-height: 1.5rem;
}

.copy-icon {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0.5rem;
  width: 1rem;
  height: 1rem;
}
