.nav-bar-container {
    background-color: black;
    width: 100%;
    position: sticky;
    border-bottom: 1px solid;
    border-color: grey;

    .wrapper {
        width: 1080px;
        height: 80px;
        margin: 0px auto;
    }

    .nav-bar-home-img {
        width: 80px;
        height: 80px;
    }

    .nav-bar-img {
        width: 26px;
        height: 24px;
        margin: 28px auto;
    }

    .nav-bar-logo-image {
        margin-right: 48px;
    }

    .nav-bar-link-image {
        height: 80px;
        margin: 0 12px;
    }

    .nav-bar-right {
        margin-left: auto;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .zero-x-sbt-logo-img {
        width: 80px;
        height: 80px;
    }

    .klaytn-symbol {
        display: block;
        margin: auto;
        width: 28px;
        height: 28px;
    }

    .connect-wallet {
        display: inline-flex;
        align-items: center;
        flex-direction: low;
        vertical-align: middle;
    }

    .connect-wallet-content {
        text-align: center;
        margin-right: 4px;
    }

    .btn-connected {
        background-color: rgba(0, 0, 0, 0);
    }

}