@import "./color.scss";
@import "./font.scss";

.App {
  text-align: center;
}

// @media (prefers-reduced-motion: no-preference) {
//   .main-logo {
//     animation: App-logo-spin infinite 10s linear;
//   }
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//     translate: -1200px;
//   }

//   to {
//     transform: rotate(360deg);
//     translate: +1200px;
//   }
// }

.root-container {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $white;
  overflow-x: hidden;
}