@import "./color.scss";
@import "./font.scss";

.App {
  text-align: center;
}

// @media (prefers-reduced-motion: no-preference) {
//   .main-logo {
//     animation: App-logo-spin infinite 10s linear;
//   }
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//     translate: -1200px;
//   }

//   to {
//     transform: rotate(360deg);
//     translate: +1200px;
//   }
// }

.root-container {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $white;
  overflow-x: hidden;
}

@media (min-width: 0px) {
  .container {
    max-width: 320px;
  }

  .main-section-btn-txt {
    font-size: 1.25rem;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .main-section-btn-txt {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .main-section-btn-txt {
    font-size: 1.75rem;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}