@import "../../color.scss";

.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
}

.navbar {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    color: $white;
}

.navbar-dark {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.navbar[data-sticky="top"] {
    z-index: 999;
    transition: background-color 0.2s ease;
}

.navbar-expand-lg {
    .container {
        flex-wrap: nowrap;
    }
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}

.navbar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.navbar-icon {
    height: 20px;
}

.navbar-twitter-img {
    height: 16px;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.justify-content-end {
    justify-content: flex-end !important;
}